.form-container {
  width: 530px;
  display: flex;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 20px auto;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.form-title {
  font-weight: 400;
  font-size: 35px;
  color: #2a414f;
  text-align: center;
}
.input-group{
  margin-top: 13px;
}
.input-group label {
  display: block;
}
.input-group input{
  width: 415px;
  height: 45px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #95A0A7;
  font-size: 18px;
}
/* form-submit-btn */
.form-submit-btn {
  border: 0;
  width: 415px;
  height: 45px;
  box-sizing: border-box;
  border-radius: 5px;
  background: #ff99004d;
  font-size: 18px;
  margin-top: 30px;
  cursor: pointer;
  transition: .5s;
}
.form-submit-btn:hover{
  background: #9157004d;
}
.form-link{
  color: #FF9900;
  text-decoration: none;
}
.signInOut {
  text-align: center;
  margin: 8px 0px 0px 0px;
}
.connect-google {
  width: 415px;
  align-items: center;
  height: 45px;
  border: 1px solid #95a0a7;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  margin: 25px 0px 0px 0px;
  cursor: pointer;
  transition: .5s;
}
.connect-google:hover{
  background:#F0F2F5;
}
.connect-google img {
  width: 32px;
  height: 32px;
}
.connect-google p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: #2a414f;
  margin-left: 6px;
}
